{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tee-shirt</title>
    <link rel="stylesheet" href="{% static 'css/styleform.css' %}">
</head>
<body>
    <div class="nav">
        {% include 'navbar.html' %}
    </div>
  <form action="../../res/response/" method="post">
      {% csrf_token %}
    <div class="input-container ic1">
      <input id="taille" class="input" type="number" name="taille" placeholder=" " min="40" max="220" />
      <div class="cut"></div>
      <label for="tTaille" class="placeholder">Taille (cm) : </label>
    </div>

    <div class="input-container ic2">
      <input id="poids" class="input" type="number" name="poids" placeholder=" " min="30" max="130" />
      <div class="cut"></div>
      <label for="tHanche" class="placeholder">Poids (kg) : </label>
    </div>

    <div class="input-container ic2">
      <label for="gender">Genre : </label>
      <span class="first">
        <input id="homme" type="radio" name="genre" value="M"><label for="homme">Homme</label>
      </span>
      <span class="second">
        <input id="femme" type="radio" name="genre" value="F"><label for="femme">Femme</label>
      </span>
      <div class="cut cut-short"></div>
    </div>

    <button type="submit" class="submit">Valider</button>
  </form>


</body>
</html>