{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pantalon</title>
    <link rel="stylesheet" href="{% static 'css/styleform.css' %}">
</head>
<body>
    <div class="nav">
        {% include 'navbar.html' %}
    </div>
    <form action="../../res/response/" method="post">
        {% csrf_token %}
        <div class="input-container ic1">
          <input id="tourTaille" class="input" type="number" name="tourTaille" placeholder=" " min="58" max="142" />
          
          <div class="cut"></div>
          <label for="tourTaille" class="placeholder">Tour de taille (cm)</label>
        </div>

        <div class="input-container ic2">
          <input id="tourHanche" class="input" type="number" name="tourHanche" placeholder=" " min="84" max="144" />
          <div class="cut"></div>
          <label for="tourHanche" class="placeholder">Tour de hanches (cm)</label>
        </div>

        <div class="input-container ic2">
            
            <label for="gender">Genre : </label>
  
            <span class="first">
                <input id="homme" type="radio" name="genre" value="M"><label for="homme">Homme</label>
            </span>
            
            <span class="second">
                <input id="femme" type="radio" name="genre" value="F"><label for="femme">Femme</label>
            </span>
          <div class="cut cut-short"></div>
  
        </div>
        <button type="submit" class="submit">Valider</button>
      </div>
    </form>

</body>
</html>